@import './styles/variables.css';

:root {
  font-family: var(--font-sans);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--secondary-light);
  display: block;
  /* Vite default was flex, changing to block for standard layout */
}

#root {
  width: 100%;
}